<!DOCTYPE html>
<html>
<head>
	<title>Vue: v-bind, v-for, v-if, v-on, v-model</title>
	<meta http-equiv='content-type' content='text/html;charset=utf-8'>
	<meta name='viewport' content='width=device-width,initial-scale=1.0'>
	<script type="text/javascript" src="vue.js"></script>
</head>
<body>
	<div id="app">
	  {{ message }}
	</div>

	<div id="app-2">
	  <span v-bind:title="message">
	    Hover your mouse over me for a few seconds
	    to see my dynamically bound title!
	  </span>
	</div>

	<div id="app-3">
	  <span v-if="seen">Now you see me</span>
	</div>


	<div id="app-4">
		<ol>
			<li v-for="todo in todos">
				{{ todo.text }}
			</li>
		</ol>
		
	</div>

	<div id="app-5">
		<p>{{ message }}</p>
		<button v-on:click="reverseMessage">Please Click to Reverse Message</button>
	</div>

	<div id="app-6">
		<p>{{ message }}</p>
		<input v-model="message">
	</div>
    
    <div id="app-7">
        <img src="images/vue-logo.png" alt="">
        <img v-bind:src= 'url' v-bind:title= 'title'/>

    </div>

	<script type="text/javascript">
		var app = new Vue({
		  el: '#app',
		  data: {
		    message: 'Hello Vue!'
		  }
		})

		var app2 = new Vue({
		  el: '#app-2',
		  data: {
		    message: 'You loaded this page on ' + new Date().toLocaleString()
		  }
		})

		var app3 = new Vue({
		  el: '#app-3',
		  data: {
		    seen: true
		  }
		})

		var app4 = new Vue({
			el: '#app-4',
			data: {
				todos: [
					{ text : 'Learn Javascript'},
					{ text : 'Learn Es6'},
					{ text : 'Learn Vue'},
					{ text : 'Build something awesome'}
				]
			}
		})

		var app5 = new Vue({
			el: '#app-5',
			data: {
				message: 'Hello Mr. Abdur Rahman!'
			},
			methods: {
				reverseMessage: function () {
					this.message = this.message.split('').reverse().join('')
				}
			}

		})

		var app6 = new Vue({
			el: '#app-6',
			data: {
				message: 'Hello Vue. Abdur Rahman!'
			}
		})

        var model = {
            url: 'images/vue-logo.png',
            title: 'Vue Logo'
        }
        var app7 = new Vue({
            el: '#app-7',
            data: model
        })
	</script>
</body>
</html>